<h2> Please type your new password</h2>

{{#if user}}
<p>Welcome, <strong>{{user.username}}</strong> !</p>
{{/if}}

<form method="post" action="/exam/changePassword">
<div style = "float:left; width: 250px;">Current password</div><input type="password" name="current" placeholder="Current Password"><br>
<div style = "float:left; width: 250px;">New Password</div><input type="password" name="new1" id="new1" placeholder="Password"><br>
<div style = "float:left; width: 250px;">New Password one more time</div><input type="password" name="new2" id="new2" placeholder="Password confirmation"><br>
<br><div style = "float:left; width: 250px;">&nbsp;</div><input type="submit" value="Change Password">
</form>

{{#if nomatch}}
<h3 style="color:red;">Your current password is not correct</h3>
{{/if}}

{{#if notcorrect}}
<h3 style="color:red;">New password does not match</h3>
{{/if}}

{{#if success}}
<h3 style="color:red;">Password Changed Successfully</h3>
{{/if}}

{{#if noentry}}
<h3 style="color:red;">Please enter password</h3>
{{/if}}

<br><a href="/exam/logout">Log out</a><br>
