<body id="profile_bkc">
<div class="container" class="center" style="border: 2px; width: 50%" >
  <div class="row">
    <div class="col s12">
      <div class="card-panel grey lighten-4 z-depth-2">
<form method="post" action="/mail/changePassword">

  <h4 id="Logon_Fonts" >Welcome, {{user.username}}</h4>
  <h4 id="Logon_Fonts">Please type your new password!</h4>

<div id="form_label">Current password</div><input type="password" name="current" placeholder="Current Password"><br>
<div id="form_label">New Password</div><input type="password" name="new1" id="new1" placeholder="Password"><br>
<div id="form_label">New Password one more time</div><input type="password" name="new2" id="new2" placeholder="Password confirmation"><br>
<br>
<br>
<input class="btn waves-effect waves-light" type="submit" value="Change Password">
<a class="btn waves-effect waves-light right" href="/mail/profile">GO BACK</a>
<br>

</form>
{{#if nomatch}}
<h3 style="color:red; text-align: center;">Your current password is not correct</h3>
{{/if}}

{{#if notcorrect}}
<h3 style="color:red; text-align: center;">New password does not match</h3>
{{/if}}

{{#if success}}
<h3 style="color:green; text-align: center;">Password Changed Successfully</h3>
{{/if}}

{{#if noentry}}
<h3 style="color:red; text-align: center;">Please enter password</h3>
{{/if}}

<br><a href="/logout">Log out</a><br>
</body>
