<h2> Log In </h2>
<form method="post" action="/users/inbox">
  <div style = "float:left; width: 100px;"> Login ID </div> <input type="text" name="username" placeholder="User name"><br>
  <div style = "float:left; width: 100px;"> Password: </div><input type="password" name="password" placeholder="Password"><br>
  <br><div style = "float:left; width: 100px;"> &nbsp;</div><input type="submit" value="Log in">
</form>

{{#if error}}
<p>{{error}}</p>
{{/if}}
