{{#if sent}}
<div class="card black darken-1" id="Full_Page">
  <h3 style="color: green ; text-align: center;">Message is Sent</h3>
  <div class="row" style="position: absolute; right: 2px ; bottom: 0px">
    <a class="btn btn-floating btn-large " href="/mail/createmail"><i class="material-icons">edit</i></a>
  </div>
</div>

{{else}}

<div class="card black darken-1" id="Full_Page">
  <h3 style="color: red ; text-align: center;">Message Not Sent try again</h3>
  <div class="row" style="position: absolute; right: 2px ; bottom: 0px">
    <a class="btn btn-floating btn-large " href="/mail/createmail"><i class="material-icons">edit</i></a>
  </div>
</div>

{{/if}}
