{{#if user.username}}

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/mail/changePassword">Change Password</a></li>
  <li class="divider"></li>
  <li><a href="/logout">Log out</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">HELLO {{user.username}}</a>
      <a href="#"  data-activates="slide-out" class="button-collapse left"><i class="material-icons">menu</i></a>
      <!-- Dropdown Trigger -->
      <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button right" href="#!" data-activates="dropdown1">More Options<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<!-- The SIDEBAR NAVIGATIONS-->
<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
  </ul>

<script>
$(".button-collapse").sideNav();
</script>

  {{else}}
  {{#if successful_login}}

    <h3>Hello, </h3>
    <h3>You Successfully created the account name {{username}}@freemail.com </h3>
    <p> Please log in to continue </p>
    <a href="/login">Log in</a><br>
  {{else}}
    <p>Please log in or sign up</p>
    <a href="/login">Log in</a><br>
    <a href="/signup">Sign up</a><br>
  {{/if}}
{{/if}}
