body{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #bdbdbd;
}

#Header_Profile{
  background-color: grey;
  background-image: url("../images/header.jpg");
}

#profile_bkc
{
  background-image: url("http://demo.geekslabs.com/materialize-v1.0/images/user-profile-bg.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  background-size: 100% 100%;
}
#form_bk{
  background-image: url("http://demo.geekslabs.com/materialize-v1.0/images/user-profile-bg.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  background-size: 100% 100%;
}

#Full_Page{
  width: 100%;
  min-height: 400px;
  max-height: 500px;

}

#form_label{

    color: #107896;
    font-weight: bold;
    float:left;
    width: 200px;
}

a {
  color: #00B7FF;
}

iframe{
  border: none;
  scroll-behavior: none;
  width: 100%;
  min-height: 500px;
  overflow: hidden;

}

iframe:focus{
    outline: none;
}

iframe[seamless] {
    display:contents;
}

#read_page{
  background-color: black;
  min-height: 500px;
  max-height: 500px;
  opacity: 0.95;
}

#email_page{
  color: black;
  overflow: auto;
  min-height: 500px;
  max-height: 500px;
}

#mail_layout
{
  min-height: 500px;
  max-height: 500px;

}

#Logon_Fonts
{
    color: #f6432d;
    text-align: center;
}

#Card_Background
{
  border: 2px white;
  border-radius: 15px 50px 30px;
  background-color: white;
}
